fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
passlib[bcrypt]
email-validator
alembic
python-jose[cryptography]
python-multipart
pytest
pytest-asyncio
httpx
fastapi-mail==1.4.1
email-validator==2.2.0
